p {
    margin-bottom: 1em;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 1.06rem; */
    font-style: normal;
    line-height: 1.7em;
    text-align: left;
    padding: 5px 0px;
}

img {
    /* width: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.contentx {
    padding: 0 50px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 13pt; */
    font-style: normal;
    line-height: 1.15;
    text-align: left;
}

.contentlist {
    white-space: pre;
}

.footnum {
    font-size: 10px;
}

.footpara {
    font-size: 10px;
}

.footnotes {
    font-size: 20px;
}

.outline-3 h3 {
    width: 100%;
}

.outline-3 {
    padding: 0;
}
